.Container {
  background: white;

  display: flex;
}

.LateralDireita {
  background: rgb(226, 226, 226);
  width: 30%;
  height: 100dvh;
}

.LateralEsquerda {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 80px;

  width: 70%;
  height: 100vh;
}